

h1{
padding: 0;
margin: 0;
}

*/

/* test if have media queries */
@media all and (min-width:1px) {
    body{background:pink;}
}



/* Small screens */
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40rem) {
/*html{ font-size: 32px;  } */
  } /* max-width 640px, mobile-only styles, use when QAing mobile issues */


/* Medium screens */
@media only screen and (min-width: 40.063rem) { } /* min-width 641px, medium screens */

@media only screen and (min-device-width: 40.063rem) {
/* body{min-width: 998px;} */
  } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */



html{
font-family: arial, sans-serif; /* FF sans-serif too heavy */
}

h1{
padding: 0;
margin: 0;
}

header{
    width:100%;
    background: green;
    top:0;
    border-bottom: 1px dashed blue;
    color: #03003B;
  }
header h1{
  font-size: 7rem;
  line-height: 1rem;

}
header h2{
  font-size: 2rem;
  margin: 0 0 0.5rem 0;
}

header h1,header h2{
text-align: center;

}

aside,section{
position: relative;
float:left;
}

#middle-sec{
  width: 50%;

}
aside{
  width: 25%;
  background: orange;
}
#content-body{
  background: #fff;
  width: 100%;

}
#middle-sec{

}


p{
margin: 1rem;  /*  51.2px, 48px, 50px, 20px  */
font-size: 1rem;
line-height: 1rem;
padding: 1rem;
}

h2{
margin: 1rem 1rem 0;
line-height: 1rem;
}

/*scaled transition*/
p{
  /*
  -webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear;
*/
}
